<body
  style="overflow-y: hidden; overflow-x:hidden; background-image: url(https://cdn.pixabay.com/photo/2017/06/14/01/43/background-2400765_1280.jpg); background-repeat: no-repeat;background-size: 100% 100%">
  <div style="margin: 10px; padding: 10px">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="row" style="margin-top: 20px;  ">
        <div class="col-md-7 mat-display-2"
          style=" color: white; padding: 20px; margin-bottom: 10px;margin-right: 20px"></div>

        <div class="col">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label for="username" style="color: white">Username</mat-label>
            <input formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" matInput
              style="color: white">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required" style="color: red">Username is required</div>
            </div>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label for="password" style="color: white">Password</mat-label>
            <input matInput type="password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" style="color: white">
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <div style="width: 100%; padding: 5px; margin: 10px">
            <button [disabled]="loading" mat-button
              style=" background-color: rgb(0, 53, 139); color: white ">Login</button>
          </div>
        </div>
      </div>
    </form>

    <div class="row" style="margin-top: 30px">


      <div class="col-md-7" style="margin-right: 30px">

        <br>

        <div style="margin-top: 10px; padding-top: 10px;">
          <br><br><br><br>
          <div style="height: 900px" class="mat-display-1">
            <div class="mat-display-3" align="center" style=" color: white; padding: 20px; margin-bottom: 10px">
              SwaGrader</div>
            <p align="center" style="color: white">
              A modular and smart peer-grading tool based on the intelligent TRUPEQA algorithm.
            </p>
          </div>

        </div>
      </div>

      <div class="col">
        <h4 align="center" style="color: white">Don't have an account yet? Register Now!</h4><br>
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div style="background-color: white; opacity: 0.7; margin-top: 10px;  border-radius: 5px; padding: 20px">


            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label for="username">Username</mat-label>
              <input matInput type="text" formControlName="username"
                [ngClass]="{ 'is-invalid': registerSubmitted && f1.username.errors }">
              <div *ngIf="registerSubmitted && f1.username.errors" class="invalid-feedback">
                <div *ngIf="f1.username.errors.required">Username is required</div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label for="email">Email-Id</mat-label>
              <input matInput formControlName="email" [ngClass]="{ 'is-invalid': registerSubmitted && f1.email.errors }"
                type="email">
              <div *ngIf="registerSubmitted && f1.email.errors" class="invalid-feedback">
                <div *ngIf="f1.email.errors.required">Email-Id is required</div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label for="password1">Password</mat-label>
              <input matInput type="password" formControlName="password1"
                [ngClass]="{ 'is-invalid': registerSubmitted && f1.password1.errors }">
              <div *ngIf="registerSubmitted && f1.password1.errors" class="invalid-feedback">
                <div *ngIf="f1.password1.errors.required">Password is required</div>
                <div *ngIf="f1.password1.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label for="password2">Confirm Password</mat-label>
              <input matInput type="password" formControlName="password2"
                [ngClass]="{ 'is-invalid': submitted && f1.password2.errors }">
              <div *ngIf="registerSubmitted && f1.password2.errors" class="invalid-feedback">
                <div *ngIf="f1.password1 !== f1.password2">Passwords don't match</div>
                <div *ngIf="f1.password2.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </mat-form-field>
            <div style="width: 100%; padding: 5px; margin: 10px">
              <button [disabled]="registerLoading" mat-button
                style=" background-color: rgb(0, 53, 139); color: white ">Register </button>
            </div>

          </div>
        </form>
      </div>


    </div>
  </div>
</body>